#map {
    height: 60%;
    margin: 100px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }


ul {
    border: 2px solid red;
}

#results {

    /* height: 250px;
    width: 250px
     */
}

#movie-img {
    height: 350px;
    width: 300px
}