#map {
    height: 90%;
    width: 79%;
    margin: 100px 10px 10px 100px;
    padding: 300px;
}

body {
    background-image: url(bubbleBackground.png);
}


h4 {
    font-size: 30px;

}

.mainButton {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }

  #map {
    height: 90%;
    width: 79%;
    margin: 100px 10px 10px 100px;
    padding: 300px;
}

ul {
    border: 2px solid red;
}

#results {

    /* height: 250px;
    width: 250px
     */
}

#movie-img {
    height: 400px;
    width: 300
}