#map {
    height: 90%;
    width: 79%;
    margin: 100px 10px 10px 100px;
    padding: 300px;
}

body {
    background-image: url(bubbleBackground.png);
}


ul {
    border: 2px solid red;
}

#results {
    display: flex;
    justify-content: center;
    padding-top: 40px;

    /* height: 250px;
    width: 250px
     */
}

#movie-img {
    height: 350px;
    width: 300px
}
